.container {
    margin-top: 100px;
}


.mihalis {
    border-radius: 20px;
    box-shadow: 12px 12px 2px 1px rgb(0 0 255 / 0.2);
    height: 200px;
    width: 200px;
    margin-left: 50px;
    margin-bottom: 60px;
}

h2 {
    color: white;
    padding-left: 20px;
}

p {
    color: white;
    margin-left: 40px;
    margin-right: 40px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Button */
.button {
  background-color: #DCB13C;
  color: white;
  margin-top: 40px;
  margin-bottom: 50px;
  padding: 30px 60px;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 20px;
  font-size: 20px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1c3d35;
  left: 0;
  top: 0;
  border-radius: 10px;
}

/* Glow Effect */
.button::before {
  content: "";
  background: linear-gradient(
    45deg,
    #385868, #4c5ba9, #86d0d4, #33c7c7,
    #00FFD5, #77b2c9, #1e234f, #477ed1
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height:  calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
  opacity: 0;
}

/* Glow Animation */
@keyframes glowing {
  0% {background-position: 0 0;}
  50% {background-position: 400% 0;}
  100% {background-position: 0 0;}
}

/* Hover */
.button:hover::before {
  opacity: 1;
}

.button:active:after {
  background: transparent;
}

.button:active {
  color: #000;
  font-weight: bold;
}

.typewriter {
  color: white;
  font-size: 50px;
  padding-top: 70px;
  padding-left: 50px;
}

.image-and-text {
  display: flex;
  gap: 30px;

}

#experiences {
  scroll-margin-top: 120px;
}